/*
Error: Invalid CSS after "  }": expected selector or at-rule, was "} "
        on line 161 of C:\Steven\web\04-myProject\stay\sass\index.scss

156:           background-position: -25px 0;
157:         }
158:       }
159:     }
160:   } 
161: } 
162: //轮播图下方广告部分
163: %ad_public {
164:   width: 560px;
165:   height: 160px;
166:   background: #f4f4f4;

Backtrace:
C:\Steven\web\04-myProject\stay\sass\index.scss:161
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:42:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:290:in `render'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:400:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:22:in `load'
C:/Program Files (x86)/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  }\": expected selector or at-rule, was \"} \"\A         on line 161 of C:\Steven\web\04-myProject\stay\sass\index.scss\A \A 156:           background-position: -25px 0;\A 157:         }\A 158:       }\A 159:     }\A 160:   } \A 161: } \A 162: //轮播图下方广告部分\A 163: %ad_public {\A 164:   width: 560px;\A 165:   height: 160px;\A 166:   background: #f4f4f4;"; }
